<article id="barn">

  <div class="hero-unit alert alert-info">
    <h1>Membership</h1>
    <h2>Monthly Subscriptions to The Farmhouse Resources</h2>
    <p>
      Coming soon&hellip;
    </p>
  </div>

</article>
