

<div class="page-header">
  <h1>Shoot It Yourself</h1>
  <p>By Ignacio Galvez</p>
</div>

<div class="row">
  <div class="span6" id="book-cover">
    <%= image_tag "http://assets.farmhouse.co/images/new/shoot-it-yourself-cover.png" %>
  </div>

  <div class="span6" id="book-meta">
    <h1>Shoot It Yourself</h1>
    <p>By Ignacio Galvez</p>

    <a href="#" class="btn btn-success btn-large"><strong>$20 &nbsp; Buy Now</strong></a>

    <ul class="unstyled">
      <li>Farmhouse Publishing #001</li>
      <li>80 pages</li>
      <li>Paperback</li>
    </ul>

    <div>
      <p><em>Shoot It Yourself</em> is a collection beautiful black and white photos of bands playing live music. Punk. Hardcore. Hip-hop. Metal. And more. This book was shot over the course of several years on mutliple continents and countries. Photographer Ignacio Galvez captures musicians in their element &mdash; on the road, live on stage, prepping on the bus. These pages provide a momentary glimpse into another world that most of us don&rsquo;t get to live in.</p>

      <p>Included in this paperback are photos of: AFI, Anthrax, Bad Brains, Bad Religion, Bane, Beastie Boys, Behemoth, Biohazard, Blur, Brujeria, Circle Jerks, Comeback Kid, Como Asesinar a Felipes, Deftones, Descendents, Earth Crisis, Faith No More, Gorilla Biscuits, H2O, Hatebreed, Immortal, Incubus, Janes Addiction, Judge, Korn, Limp Bizkit, Madball, Marilyn Manson, Mastodon, Millencolin, Mixhell, Mondo Cane, Nas, Nine Inch Nails, No use for a Name, NOFX, Parkway Drive, Placebo, Planet Hemp, P.O.D., Public Enemy, Queens of the Stone Age, Rage Against the Machine, Red hot Chili Peppers, Sepultura, Sick of it All, Slayer, Social Distortion, Sonic Youth, Steve Aoki, Strife, Suicidal Tendencies, Terror, The Cure, The Hives, Walls of Jericho, Wu, Tang Clan. With afterwords by Andrew Kline (of Strife) and Billy Graziadei (of Biohazard).</p>
    </div>
  </div>
</div>
