<p>
  Aaron Patterson is one of the nicest and funniest people that Shane knows.
  His handle on the internets is Tenderlove, his website is tenderlovemaking.com.
  He takes ridiculous photos of himself for his slides when he gives presentations at conferences &mdash; in spandex, bikinis, with wigs, in hats, smoking a pipe, in baseball gear&hellip;
  He&rsquo;ll be talking about a secret topic.
  But trust me, he always brings it.
</p>
