<p>
  I like to think that I&rsquo;m the kind of person who&rsquo;s not defined by my job.
  I&rsquo;ve done this successfully as a High School Substitute Teacher, an Apartment Maintenance Guy, a Pizza Delivery Driver, a Kirby Vacuum Salesman and a Nintendo Game Tester.
  That was just how I made money and nothing else, but the last 4 years it&rsquo;s been especially difficult, spending half my time living and working in Antarctica.
</p>

<p>
  Did you know that people live in Antarctica? They have jobs and go the bar after work and play music and drive cars and celebrate Halloween, Thanksgiving, Christmas and New Years.
  They go hiking and do yoga.
  They sorta live a normal life, but at the same time they sorta don&rsquo;t.
  My talk will explain just some of this crazy life.
</p>
