<p>
  
  Evan is the creator of Rubinius, an open source Ruby software project.
  He has a beard and a cat named Fog.
  He&rsquo;ll be talking about how he managed to land his dream job 4 years ago.

</p>

