<p>
  Sarah is a Ruby / Rails developer at Pivotal Labs and is a regular contributor to Diaspora.
  She also helps organize RailsBridge in San Francisco, CA.
  She wears a bright pink dress on Earth Day and owns a skirt with a Regular Expression reference printed upside down on it (so it&rsquo;s readable to her).
  She&rsquo;ll tell the story of how being a programmer has made her into an extrovert.
</p>
