<% if @conf.name == "Farmhouse Conf 2" %>

  <div id="music" class="row">
    <div class="span12">
      <h2>Musical Guests</h2>

      <div id="mates-of-state" class="row">
        <div class="span12">
          <h1>Mates of State</h1>

          <p>
            <a href="http://twitter.com/matesofstate" title="@matesofstate on Twitter">@matesofstate</a>,
            <a href="http://matesofstate.com" title="Mates of State">Mates of State.com</a>,
            <a href="http://en.wikipedia.org/wiki/Mates_of_State" title="Mates of State - Wikipedia">Wikipedia</a>,
            <a href="http://youtube.com/matesofstate" title="Mates of State - YouTube">YouTube</a>,
            <a href="https://facebook.com/matesofstate" title="Mates of State - Facebook">Facebook</a>
          </p>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/3g5Oyl2rALc"></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/L3hdlvJzEQ0"></iframe>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/CbqrO9oxc7E"></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/P8DjQlNNMlw"></iframe>
        </div>
      </div> <!-- .row -->

    </div><!-- #music -->
  </div>

<% end %>


<% if @conf.name == "Farmhouse Conf 3" %>

  <div id="music" class="row">
    <div class="span12">
      <h2>Musical Guests</h2>

      <div id="blue-ribbon-glee-club" class="row">
        <div class="span12">
          <h1>Blue Ribbon Glee Club</h1>

          <p>
			<a href="http://blueribbongleeclub.org" title="The Blue Ribbon Glee Club: Chicago's Premier Punk Rock Choir">Blue Ribbon Glee Club.com</a>,
			<a href="http://facebook.com/blueribbongleeclub" title="The Blue Ribbon Glee Club on Facebook">Facebook</a>,
			<a href="http://myspace.com/theblueribbongleeclub" title="The Blue Ribbon Glee Club on MySpace">MySpace</a>,
			<a href="http://youtube.com/results?search_query=blue+ribbon+glee+club" title="The Blue Ribbon Glee Club on YouTube">YouTube</a>
          </p>
        </div>

        <div class="span6">
          <img src="http://farmhouse.s3.amazonaws.com/images/music/3/blue-ribbon-glee-club.jpg" alt="Blue Ribbon Glee Club" />
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/pvcHPB6wb_E"></iframe>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/tek9GVuAVdc"></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/NCC7dMwKy5o"></iframe>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/kgj6uPvL83Y"></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/IC5Zyeo4MXU"></iframe>
        </div>
      </div> <!-- .row -->

    </div><!-- #music -->
  </div>

<% end %>
