<% if @conf.year == 2012 %>

  <div id="sponsors" class="row">
    <div id="music" class="span12">
      <h2>Musical Guests</h2>

      <div class="row">
        <h1 id="mates-of-state" class="span12">Mates of State</h1>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/3g5Oyl2rALc" frameborder="0" allowfullscreen></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/L3hdlvJzEQ0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/CbqrO9oxc7E" frameborder="0" allowfullscreen></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/P8DjQlNNMlw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <!-- .row -->

      <% if false %>
      <div class="row">
        <h1 class="span12">Imagika Om</h1>

        <div class="span6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="span6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div> <!-- .row -->
      <% end %>
    </div><!-- #music -->
  </div>

<% end %>
