<% if @conf.year == 2012 %>

  <div id="music" class="row">
    <div class="span12">
      <h2>Musical Guests</h2>

      <div id="mates-of-state" class="row">
        <div class="span12">
          <h1>Mates of State</h1>

          <p>
            <a href="http://twitter.com/matesofstate" title="@matesofstate on Twitter">@matesofstate</a>,
            <a href="http://matesofstate.com" title="Mates of State">Mates of State.com</a>,
            <a href="http://en.wikipedia.org/wiki/Mates_of_State" title="Mates of State - Wikipedia">Wikipedia</a>,
            <a href="http://youtube.com/matesofstate" title="Mates of State - YouTube">YouTube</a>,
            <a href="https://facebook.com/matesofstate" title="Mates of State - Facebook">Facebook</a>
          </p>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/3g5Oyl2rALc" frameborder="0" allowfullscreen></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/L3hdlvJzEQ0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/CbqrO9oxc7E" frameborder="0" allowfullscreen></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/P8DjQlNNMlw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <!-- .row -->

    </div><!-- #music -->
  </div>

<% end %>
