<div class="subnav">
  <ul class="nav nav-pills">
    <%= nav_to "2012", year_path(2012) %>
    <%= nav_to "2011", year_path(2011) %>
    <%= nav_to "Videos", "/conf/videos" %>
    <%= nav_to "Sponsor", "/sponsor" %>
  </ul>
</div>
