<div id="sponsors" class="row">
  <%
  [
    [:party,       "After Party Sponsors"],
    [:standard,    "Conference Sponsors"],
    [:goodie,      "Goodie Bag Sponsors"],
    [:food,        "Food and Drink Sponsors"],
    [:scholarship, "Scholarship Sponsors"]
  ].each do |sponsorship_level, sponsorship_title|
  %>

  <div class="span12">
    <h2 id="<%= sponsorship_level %>-sponsors"><%= sponsorship_title %></h2>

    <%# splits each sponsor level into two groups for columns %>
    <% sponsors    = @conf.sponsorships.send(sponsorship_level) %>
    <% median      = sponsors.length / 2     %>
    <% first_half  = sponsors[0..median - 1] %>
    <% second_half = sponsors.length == 1 ? [] : sponsors[median..-1]  %>

    <div class="row">

      <% [first_half, second_half].each do |group| %>
        <div class="span6">
          <% group.each do |sponsorship| %>
            <% unless sponsorship.nil? %>
              <%= link_to_sponsor_image_tag(sponsorship.sponsor.slug, sponsorship.sponsor.url) %>
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div><!-- .row -->
  </div><!-- .span12 -->

  <% end %>
</div>
