<%= render :partial => "nav" %>

<article>
  <header>
    <h1>Farmhouse Conf <b>Sponsorship Prospectus</b></h1>
  </header>

  <div class="row">
    <div class="span6">
      <h2>8 (of 10) Sponsorships Remaining : $1000</h2>

      <p class=" notes">
        Let's keep it simple.
        For Farmhouse Conf 2, there are 10 sponsorships.
        Each one costs $1,000.
        No levels to pick from.
        No variation in the perks.
        No haggling with each other.
        Simply, you pay one thousand U.S. Dollars to be a sponsor
        for Farmhouse Conf 2 (May 5, 2012).
      </p>

      <p>
        Your sponsorship will get you:
      </p>

      <ol>
        <li><b>2 tickets</b> to use or give away as promotion</li>
        <li>Your <b>logo</b> on the Farmhouse Conf 2 section of The Farmhouse <b>website</b></li>
        <li>Your <b>logo</b> on a <b>vinyl banner</b> on site at The Farmhouse during Farmhouse Conf 2</li>
        <li>Your <b>logo</b> on screen in the Farmhouse Conf 2 <b>videos</b></li>
        <li>Mentioned on mic to the attendees a couple few times during Farmhouse Conf 2</li>
        <li>The warm fuzzies for supporting such a different style event</li>
      </ol>
    </div>

    <div class="span6">
      <h2>Party Sponsor : $25,000</h2>

      <p class=" notes">
        This year's after party will be absolutely banging.
        You'll want to be a part of this.
        We're pulling out all of the stops.
        This will be a party to remember.
        Which means we need one sponsor to go big with us.
        The party sponsorship is $25,000 for Farmhouse Conf 2 (May 5, 2012).
      </p>

      <p>
        Your party sponsorship will get you:
      </p>

      <ol>
        <li><b>10 tickets</b> to use or give away as promotion</li>
        <li>Your <b>BIG logo</b> on the Farmhouse Conf 2 section of The Farmhouse <b>website</b></li>
        <li>Your <b>BIG logo</b> on a <b>vinyl banner</b> above the rest on site at The Farmhouse during Farmhouse Conf 2</li>
        <li>Your <b>BIG logo</b> on screen by itself in the Farmhouse Conf 2 <b>videos</b></li>
        <li>Especially thanked on mic to the attendees multiple times during Farmhouse Conf 2</li>
        <li>Totally righteous street cred for sponsoring the party of all parties</li>
      </ol>
    </div>

  </div> <!-- .row -->
</article>
