<p>Farmhouse Conf 2 is a <b>1 day / 1 track</b> backyard storytelling conference in Hollywood, CA that brings together people from a variety of backgrounds and influences. The speaker list is an even split between 5 men, 5 women. The model is simple: <b>amazing people telling incredible stories.</b></p>

<p>10 speakers - 5 men, 5 women. No slides, no projector. Just awesome people telling incredible stories. All telling half hour stories on the theme of: <b>Mapping</b>. <b>Catered vegan breakfast, lunch and dinner</b> is provided (<a href="https://twitter.com/#!/doomies">Doomie&rsquo;s</a>, <a href="http://veggiegrill.com/" title="VeggieGrill - Home Page">Veggie Grill</a>, <a href="http://cruzerpizza.com/" title="Cruzer Pizza | We are the only 100% Animal Free Vegan pizzeria in Los Angeles">Cruzers Pizza</a>). After Party with <a href="http://matesofstate.com" title="Mates of State"><b>Mates of State</b></a>. Open bar with free booze provided. Vegan cupcakes and cookies by <a href="http://claracakes.com/" title="Clara's Cakes">Clara&rsquo;s Cakes</a>. The attendance is limited to 100.</p> 

<p>The big vision is to get amazing people together, inspire them, give them time and space to cross pollinate... then watch what great things come from it.</p>

<p>Attendees are welcome to camp in the backyard if you bring your own gear (tent, sleeping bag, etc). There will be no room in the house for attendees to sleep over. Plan accordingly.</p>
