<p>
  <b>The Farmhouse</b> was built in 1903 in Hollywood, CA on a 300-acre avocado grove.
  It is now a private co-living/co-working space. The backyard is huge.
  So is the last remaining 100-year-old avocado tree.
</p>

<p>
  That avocado tree is the setting for <b>Farmhouse Conf</b>.
  Under the tree in the backyard <b>100 attendees</b> will gather round to hear amazing stories
  of awesomeness from <b>10 speakers</b> who will get <b>30 minutes</b> and will have no slides.
  Just telling stories. This is a <b>1-day / 1-track</b> event.
  <b>Vegan breakfast, lunch and dinner</b> will be provided (included in the cost of attending).
  Also, there'll be an <b>after-party with music</b>.
  Attendees are welcome to camp in the backyard overnight, but of course are not required to.
  If you do, bring your own tent, sleeping bag, etc.
</p>
