<p>
  Farmhouse Conf 3 is the third installment of Hollywood&rsquo;s best backyard storytelling conference.
  <b>1 day / 1 track</b>, 10 speakers (5 men / 5 women), no slides, no projectors.
  Amazing people telling incredible stories of <b>Disruption</b>.
</p>

<p>
  The event brings together people from a variety of backgrounds and influences.
  The big vision is to get amazing people together, inspire them, give them time and space to cross pollinate...
  then watch what great things come from it.
  Attendees are welcome to camp in the backyard if you bring your own gear (tent, sleeping bag, etc).
</p>

<p>
  All the <b>food and drinks are provided</b> during the day and night.
  After the day of talks, we <b>party</b> into the night with <b>live music</b>,
  <b>free booze</b> and <b>tasty treats</b>.
</p>
