<p>
  It's about that time of the year again.
  <b>Farmhouse Conf 2</b> will be the exact same format as the first Farmhouse Conf.
  <b>10 speakers</b> (5 men, 5 women).
  No slides, no projector.
  Just awesome people telling incredible stories.
  <b>1 day / 1 track.</b>
  <b>Vegan breakfast, lunch and dinner</b> will be provided.
</p>

<p>
  <b>After party with a band</b> in the backyard, plan to stick around afterward.
  Attendees are welcome to camp in the backyard if you bring your own gear (tent, sleeping bag, etc).
  There will be no room in the house for attendees to sleep over. Plan accordingly.
  As speakers are confirmed, they'll be listed here.
  Follow this space and The <%= link_to_twitter(@conf) %> on Twitter for all the latest.
</p>

<p>
  There are only 100 tickets, so don't wait to get your ticket.
  <%= link_to "Register now.", register_path %><br />
  If you want to sponsor Farmhouse Conf 2, read the prospectus and
  <a href="mailto:barn@farmhouse.la">email me</a>.
</p>
