<div id="alumni" class="row">
  <div class="span12">
    <h2>Farmhouse Conf 4 Alumni Follow-Up</h2>

    <div class="row">
      <div id="tara-brown" class="span3">
        <h1>Tara&nbsp;Brown</h1>

        <%= link_to conf_talk_path(2, "mapping-the-la-tech-scene") do %>
          <%= remote_image_tag("speakers/tara-brown", :alt => "Tara Brown") %>
        <% end %>

        <p>
          <%= link_to "Tara Brown&rsquo;s Farmhouse Conf 2 Talk".html_safe, conf_talk_path(2, "mapping-the-la-tech-scene") %>
        </p>
      </div>
    </div> <!-- .row -->

  </div><!-- #alumni -->
</div>
