<%#
<div id="schedule" class="row">
  <div class="span6">

    <h2 style="margin-top: none">Schedule</h2>

    <table class="table table-striped">
      <tbody>
        <tr>
          <td>08:30 am</td>
          <td>09:30 am</td>
          <td>Registration &amp; Breakfast</td>
        </tr>
        <tr>
          <td>09:30 am</td>
          <td>09:45 am</td>
          <td>Intro Announcements</td>
        </tr>
        <tr>
          <td>09:45 am</td>
          <td>10:15 am</td>
          <td>Speaker 1 : Justin Ouellette</td>
        </tr>
        <tr>
          <td>10:30 am</td>
          <td>11:00 am</td>
          <td>Speaker 2 : Jessica Lord</td>
        </tr>
        <tr>
          <td>11:15 am</td>
          <td>11:45 am</td>
          <td>Speaker 3 : Adam Lisagor</td>
        </tr>
        <tr>
          <td>11:45 am</td>
          <td>12:00 pm</td>
          <td>Alumni : Eric Gradman</td>
        </tr>
        <tr>
          <td>12:00 pm</td>
          <td>01:00 pm</td>
          <td>Lunch!</td>
        </tr>
        <tr>
          <td>01:00 pm</td>
          <td>01:30 pm</td>
          <td>Speaker 4 : Erika Brooks Adickman</td>
        </tr>
        <tr>
          <td>01:30 pm</td>
          <td>02:00 pm</td>
          <td>Speaker 5 : Zach Klein</td>
        </tr>
        <tr>
          <td>02:15 pm</td>
          <td>02:45 pm</td>
          <td>Speaker 6 : Colleen Jordan</td>
        </tr>
        <tr>
          <td>03:00 pm</td>
          <td>03:30 pm</td>
          <td>Alumni Speakers : Megan Dean, Mitch Artman, Tara Brown</td>
        </tr>
        <tr>
          <td>03:30 pm</td>
          <td>04:00 pm</td>
          <td>Speaker 7 : Starlee Kine</td>
        </tr>
        <tr>
          <td>04:30 pm</td>
          <td>05:00 pm</td>
          <td>Speaker 8 : Ron Evans</td>
        </tr>
        <tr>
          <td>05:00 pm</td>
          <td>06:30 pm</td>
          <td>Dinner!</td>
        </tr>
        <tr>
          <td>06:30 pm</td>
          <td>07:00 pm</td>
          <td>Speaker 9 : willowbl00</td>
        </tr>
        <tr>
          <td>07:00 pm</td>
          <td>07:30 pm</td>
          <td>Speaker 10 : Jacob Appelbaum</td>
        </tr>
        <tr>
          <td>07:30 pm</td>
          <td>08:15 pm</td>
          <td>Music : Bramble</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div><!-- #schedule -->
%>
