<div class="span6" id="goody-bags">
  <h3>Goody Bags</h3>

  <p>
    All attendees will receive a bag full of goodies.
    Each bag will include:
  </p>

  <ul>
    <li><a href="http://google.com/search?q=low+ball+tumbler" title="low ball tumbler - Google Search">A low ball tumbler</a> from <a href="http://engineyard.com" title="Ruby On Rails and PHP Cloud Hosting PaaS | Managed Rails Development | Engine Yard Platform as a Service">Engine Yard</a></li>
    <li><a href="https://squareup.com/square">A Square</a> from <b><a href="https://squareup.com/">Square</a></b></li>
    <li><a href="http://www.flickr.com/photos/veganstraightedge/5994989324/" title="Thanks to @bmizerany for giving me a @heroku shot glass at @cascadiaruby 2011 in Seattle, WA">A shot glass</a> from <a href="http://www.heroku.com/" title="Heroku | Cloud Application Platform"><b>Heroku</b></a></li>
    <li><a href="http://crimethinc.com/tools/ffol.html" title="CWC Tools : Fighting For Our Lives - FFOL">Fighting for Our Lives</a> from <b><a href="http://crimethinc.com/" title="CrimethInc. Ex-Workers&rsquo; Collective : Home">CrimethInc.</a></b></li>
    <li><a href="http://twitter.com/#!/cwcmailorder/status/182614390753869826/photo/1/large" title="Twitter">To Change Everything Start Anywhere postcard</a> from <b><a href="http://crimethinc.com/" title="CrimethInc. Ex-Workers&rsquo; Collective : Home">CrimethInc.</a></b></li>
    <li><a href="http://fieldnotesbrand.com/shop/" title="FIELD NOTES Shop">A  memo book</a> from <a href="http://fieldnotesbrand.com" title="Field Notes &#8212; &#8220;I&#8217;m not writing it down to remember it later, I&#8217;m writing it down to remember it now.&#8221;"><b>Field Notes</b></a></li>
    <li><a href="http://google.com/search?q=medjool+dates" title="medjool dates - Google Search">Dates</a> from <b><a href="http://okcupidlabs.com/" title="OkCupid Labs">OkCupid Labs</a></b></li>
  </ul>
</div>
