<p>Mitch Artman worked as a special education teacher for inner city children in Brooklyn before becoming a social worker in Los Angeles. He works for the county&rsquo;s Department of Mental Health as a &ldquo;Psychiatric Social Worker&rdquo;, which means doing therapy and case-management for 200 people with mental illnesses. He loves his job.</p>
