<style>
.row h2 {
  margin-top: 0;
}
</style>

<article id="conf" class="vevent h-event">

  <header>
    <h1 class="p-name summary">Barn Talks : 1</h1>

    <h2 class="p-description description">The Briefing: An Intimate Night With <strong>Warren Ellis</strong> and the Strange World of the Future in a 100 Year old Barn in Hollywood, California</h2>

    <div class="row">
      <div class="span6">
        <h3>At <span class="p-location location">The Farmhouse</span></h3>
        <h4>
          <time class="dt-start dtstart" datetime="2014-01-26T18:00-08:00">Sunday January 26, 6pm</time>
          &ndash;
          <time class="dt-end dtend"     datetime="2014-01-26T21:00-08:00">9pm</time>
        </h4>

        <p class="twitter">
          <%= link_to "@farmhouse", "https://twitter.com/farmhouse", :rel => "external me" %>
        </p>
      </div>
    </div> <!-- .row -->
  </header>

  <div class="row">
    <div id="description" class="span-12">
      <h3>Description</h3>
      <div class="p-description description">
        <p>
          Come spend an informal night listening to <a href="http://www.warrenellis.com" title="Warren Ellis">Warren Ellis</a> tell stories about the world we live in now (and where we&rsquo;re going in the future) with 40 other people in an intimate 100 year old barn in the heart of Hollywood, California. Light drinks and snacks will be provided.
        </p>

        <p>
          <strong>Cost: $20-$50 sliding scale.</strong>
        </p>

        <p>
          Email <strong><a href="mailto:barn@Farmhouse.LA">barn@Farmhouse.LA</a></strong> if you&rsquo;re interested in sponsoring the night.
        </p>
      </div>
    </div> <!-- #description -->
  </div> <!-- .row -->

  <div class="row">
    <div class="talk span6 h-card vcard p-speaker speaker">
      <h2 id="warren-ellis">
        <%= link_to "/barn-talks/1-warren-ellis" do %>
          <b class="p-name fn n">Warren Ellis</b> <br />
          A Briefing With Warren Ellis
        <% end %>
      </h2>

      <%= link_to "/barn-talks/1-warren-ellis", :class => "u-url url" do %>
        <%= remote_image_tag("speakers/warren-ellis", :alt => "Warren Ellis", :class => "u-photo photo") %>
      <% end %>
    </div> <!-- .span6 -->

    <div class="span6">

      <div class="p-note note">
        <p>
          <strong>Description:</strong>
          In the intimate surroundings of <a href="http://farmhouse.LA">The Farmhouse Barn</a>, writer <a href="http://www.warrenellis.com" title="Warren Ellis">Warren Ellis</a> sits down for a State Of The Weird, picking over the radioactive bones of 2013 and gathering the stories for a Briefing on the science-fiction condition of 2014.  That night, he will be in the middle of writing a novella about futurists and a non-fiction book about the future of cities &mdash; except that they&rsquo;re both also about strange history and Weird Shit &mdash; and he&rsquo;s here to talk about deep time, storytelling and the weather of tomorrow.
        </p>

        <!-- <p><b><%#= link_to "Watch the video &rarr;", "/barn-talks/1-warren-ellis", :class => "u-url url" %></b></p> -->
      </div>
      <div class="bio p-note note">

        <p>
          <strong>Bio:</strong>
          <a href="http://www.warrenellis.com" title="Warren Ellis">Warren Ellis</a> is the award-winning writer of graphic novels like <a href="http://en.wikipedia.org/wiki/Transmetropolitan" title="Transmetropolitan - Wikipedia, the free encyclopedia">TRANSMETROPOLITAN</a>, <a href="http://en.wikipedia.org/wiki/Fell_(comics)" title="Fell (comics) - Wikipedia, the free encyclopedia">FELL</a>, <a href="http://en.wikipedia.org/wiki/Ministry_of_Space" title="Ministry of Space - Wikipedia, the free encyclopedia">MINISTRY OF SPACE</a> and <a href="http://en.wikipedia.org/wiki/Planetary_(comics)" title="Planetary (comics) - Wikipedia, the free encyclopedia">PLANETARY</a>, and the author of the New York Times bestselling <a href="http://en.wikipedia.org/wiki/Gun_Machine" title="Gun Machine - Wikipedia, the free encyclopedia">GUN MACHINE</a> and the &ldquo;underground classic&rdquo; novel <a href="http://en.wikipedia.org/wiki/Crooked_Little_Vein" title="Crooked Little Vein - Wikipedia, the free encyclopedia">CROOKED LITTLE VEIN</a>.  The <a href="http://www.imdb.com/title/tt1245526/" title="Red (2010) - IMDb">movie RED</a> is based on <a href="http://en.wikipedia.org/wiki/Red_(WildStorm_comics)" title="Red (WildStorm comics) - Wikipedia, the free encyclopedia">his graphic novel of the same name</a>, <a href="http://www.imdb.com/title/tt1821694/" title="Red 2 (2013) - IMDb">its sequel</a> having been released in summer 2013.  His <a href="http://en.wikipedia.org/wiki/Gravel_(comics)" title="Gravel (comics) - Wikipedia, the free encyclopedia">GRAVEL</a> books are in development for film at Legendary Pictures, with Tim Miller attached to direct.  <a href="http://www.imdb.com/title/tt1300854/" title="Iron Man 3 (2013) - IMDb">IRON MAN 3</a> is based on his Marvel Comics graphic novel <a href="http://en.wikipedia.org/wiki/Extremis" title="Extremis - Wikipedia, the free encyclopedia">IRON MAN: EXTREMIS</a>. He&rsquo;s also written extensively for <a href="http://www.vice.com/en_uk/author/warren-ellis" title="Articles by Warren Ellis | VICE - VICE.COM">VICE</a>, <a href="http://www.wired.co.uk/search/author/Warren+Ellis">WIRED UK</a> and Reuters on technological and cultural matters, and is co-writing a video project called <a href="http://www.warrenellis.com/?p=10111" title="Warren Ellis &raquo; WASTELANDERS">WASTELANDERS</a> with Joss Whedon. Warren Ellis is currently working on a non-fiction book about the future of the city for <a href="http://us.macmillan.com/fsg.aspx" title="Macmillan :: Farrar, Straus and Giroux">Farrar Giroux Straus</a>. His newest publication is the digital short-story single <a href="http://www.amazon.com/Dead-Pig-Collector-Kindle-Single-ebook/dp/B00DXINHYW" title="Amazon.com: Dead Pig Collector (Kindle Single) eBook: Warren Ellis: Kindle Store">DEAD PIG COLLECTOR</a>, from FSG Originals.
        </p>

        <p>A documentary about his work, <a href="http://www.warrenellismovie.com" title="Warren Ellis Movie: Captured Ghosts">CAPTURED GHOSTS</a>, was released in 2012.</p>

        <p>Recognitions include the NUIG Literary and Debating Society&rsquo;s President&rsquo;s Medal for service to freedom of speech, the EAGLE AWARDS Roll Of Honour for lifetime achievement in the field of comics &amp; graphic novels, the Grand Prix de l&rsquo;Imaginaire 2010, the Sidewise Award for Alternate History and the International Horror Guild Award for illustrated narrative.</p>
      </div> <!-- .bio -->
    </div> <!-- .talk -->
  </div> <!-- .description -->



</article>
