<div class="row">
  <div class="span6">
    <%= image_tag "http://farmhouse.s3.amazonaws.com/images/location/by-ignacio-galvez/photo-by-ignacio-galvez-at-the-farmhouse-#{first}.jpg" %>

    <p>
      Photo by
      <%= link_to "Ignacio Galvez", "http://ignaciogalvez.com", :rel => "external" %>
    </p>
  </div> <!-- .span6 -->
  <div class="span6">
    <%= image_tag "http://farmhouse.s3.amazonaws.com/images/location/by-ignacio-galvez/photo-by-ignacio-galvez-at-the-farmhouse-#{second}.jpg" %>

    <p>
      Photo by
      <%= link_to "Ignacio Galvez", "http://ignaciogalvez.com", :rel => "external" %>
    </p>
  </div> <!-- .span6 -->
</div> <!-- .row -->
