<article>
  <div class="row">
    <div class="span12">
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/home/farmhouse-sky-by-tj-nelson-jr.jpg", :alt => "Farmhouse and Sky by Tj Nelson" %>

      <p class="photo-attribution">
        <%= link_to "by", "http://flickr.com/tjnelsonjunior/5694945598", :rel => "external" %>
        <%= link_to "Tj Nelson Jr", "http://twitter.com/tjnelsonjr",     :rel => "external" %>
      </p>

      <h1>A Very Brief and Incomplete History of The Farmhouse</h1>

      <div class="row">
        <p class="span6 notes">
          The Farmhouse was built in 1903 before Hollywood was <i>Hollywood</i>.
          It sat on 300 acres of avocado grove.
          What remains is the house, some small sliver of the once massive lot
          (albeit still a very good sized yard)
          and one massive 100+ year old avocado tree in the backyard.
          Also, in the backyard are meyer lemon, nectarine and guava trees.
        </p>

        <p class="span6 notes">
          After a laundry list of owners and tenants,
          Shane moved in and turned this place into The Farmhouse,
          a place that's more than just a home.
          Currently 3 humans animals, 2 cats and 2 dogs are #occupying The Farmhouse.
          The house, yard and driveway are available to rent as a photography/film/video location.
          <a href="mailto:barn@farmhouse.co">Email</a> if you're interested.
        </p>
      </div>

    </div>
  </div>
</article>
