<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Farmhouse</title>
  <meta name="description" content="Los Angeles Ruby Brigade (LA.RB). A weekly hack night for LA area Rubyists." />
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
  <header>
    <hgroup>
      <h1>The Farmhouse</h1>
      <h2>A Private Co-working Space</h2>
    </hgroup>
  </header>

  <article>
    <p>
      <a href="http://flickr.com/photos/veganstraightedge/5459895303" title="The Farm House on Flickr">The Farmhouse</a>, built in 1908
      in Hollywood, CA, is my home that I&rsquo;ve transformed into a co-living/co-working space. Instead of a living room and
      dining room, there&rsquo;s a whole lot of office. The goal is to share it with friends and smart/productive/creative people who
      are working on awesome projects. Working around others who are <em>Getting Shit Done</em> helps keep me on it. There&rsquo;s a
      huge backyard (<a href="http://www.flickr.com/photos/veganstraightedge/tags/civ" title="Civ on Flickr">Civ&rsquo;s</a>
      <a href="http://twitter.com/civthedog" title="@civthedog on Twitter">domain</a>), garage and shed, outdoor patio, several
      fruit trees, and oh yeah&hellip; a giant 100 hundred year old avocado tree.
      <br />
      Get into it.
      &mdash;<i><a href="http://twitter.com/farmhouse" title="@farmhouse on Twitter">@farmhouse</a></i>.
    </p>

    <div id="details">
      <table>
        <tr>
          <th>When</th>
          <td>25/8</td>
        </tr>
        <tr>
          <th>Where</th>
          <td>Hollywood, CA</td>
        </tr>
        <tr>
          <th>Who</th>
          <td>
            <a href="http://twitter.com/veganstraightedge"  rel="external" title="@veganstraightedge">Shane Becker</a>,
            <a href="http://twitter.com/evanphx"            rel="external" title="@evanphx">Evan Phoenix</a>,
            <a href="http://twitter.com/bookis"             rel="external" title="@bookis">Bookis Smuin</a>,
            <a href="http://twitter.com/tjnelsonjr"         rel="external" title="@tjnelsonjr">Tj Nelson</a>,
            <a href="http://twitter.com/hrrrthrrr"          rel="external" title="@hrrrthrrr">Heather (hrrrthrrr)</a>
            <abbr class="amp">&amp;</abbr>
            <em>you</em>?
          </td>
        </tr>
        <tr>
          <th>Why</th>
          <td>To make, produce, create, belong</td>
        </tr>
      </table>
    </div>

    <p>
      <a href="http://www.flickr.com/photos/veganstraightedge/5459895303/" title="The Farm House on Flickr">
        <img src="http://farm6.static.flickr.com/5299/5459895303_541414113f_z.jpg" alt="The Farm House in Hollywood, CA" />
      </a>
    </p>

    <p>
      There&rsquo;s parking available in the very long driveway. We supply the wifi.
      There are a couple spare
      <a href="http://flickr.com/veganstraightedge/5426227278" title="Office desks and chairs on Flickr">desks and chairs</a>
      (first come, first dibs). Overflow seating is at the
      <a href="http://flickr.com/veganstraightedge/5426223002" title="Dining room table on Flickr">10 person dining room table</a>.
      Feel free to <a href="mailto:veganstraightedge@gmail.com">email me</a> (veganstraightedge@gmail.com) if you have any questions
      or would like to come by and work for a bit.
    </p>

    <div id="map">
      <p><a href="http://goo.gl/maps/tmWX" title="1558 Gordon St, Los Angeles, CA 90028 - Google Maps">1558 Gordon St / Los Angeles, CA / 90028</a></p>
      <a href="http://goo.gl/maps/tmWX" title="1558 Gordon St, Los Angeles, CA 90028 - Google Maps">
        <img src="images/map.png" alt="Google map of The Farmhouse" />
      </a>
    </div>
  </article>

  <footer>
    <p>
      Friends with
      <a href="http://seattlerb.org" title="Seattle.rb | Seattle Ruby Brigade">Seattle.rb</a>,
      <a href="http://rb.la" title="LA.rb | Los Angeles Ruby Brigade">LA.rb</a>
      <abbr class="amp">&amp;</abbr>
      <a href="http://js.la" title="LA.js | Los Angeles Javascripters">LA.js</a>
    </p>

    <p>Email ( <a href="mailto:veganstraightedge@gmail.com">veganstraightedge@gmail.com</a> )</p>
  </footer>

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-193482-24']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
