<div id="register-banner" class="alert alert-info">
  <div class="span7">
    <h1 class=".alert-heading">REGISTER NOW</h1>
    <h2 class=".alert-heading">
      <b>for</b>
      <%= link_to "FARMHOUSE CONF 2", year_path("2012") %>
    </h2>
    <h3 class=".alert-heading">May 5, 2012 in Hollywood, CA</h2>

    <p>
    </p>
  </div>

  <div class="span4">
    <%= link_to register_path, :class => "btn btn-primary btn-large" do %>
      <p>
        Buy Now<br />
        <b>$100</b>
      </p>
    <% end %>

    <p><b>Only 100 tickets available</b></p>
  </div>
</div> <!-- .alert -->

<div class="row big-pictures">
  <header class="span12">
    <h1>A Live / Work Space in Hollywood, CA</h1>
  </header>

  <a class="span12" href="http://www.flickr.com/photos/milllkmaid/6258380370/" title="100+ year old avocado tree at The Farmhouse by @hrrrthrrr"><img src="http://farm7.staticflickr.com/6058/6258380370_8cd1f0fa68_b.jpg" alt="100+ year old avocado tree at The Farmhouse by @hrrrthrrr"></a>
  <a class="span12" href="http://www.flickr.com/photos/milllkmaid/6257853097/" title="The Farmhouse backyard by @hrrrthrrr"><img src="http://farm7.staticflickr.com/6162/6257853097_2de4daaa72_b.jpg" alt="The Farmhouse backyard by @hrrrthrrr"></a>
</div>

<p id="heather-peterson-attribution">
  <a href="http://www.flickr.com/photos/milllkmaid/6258380370" title="100 year old avocado tree | Flickr - Photo Sharing!">Both</a> <a href="http://www.flickr.com/photos/milllkmaid/6257853097" title="farmhouse backyard | Flickr - Photo Sharing!">photos</a> by <a href="http://hrrrthrrr.com" title="hrrrthrrr">Heather Peterson</a>
</p>

<div class="row">
  <div class="span6">
    <h2>Co-Working</h2>
    <a href="http://www.flickr.com/photos/veganstraightedge/6711133615/" title="The Office at The Farmhouse in Hollywood, CA by veganstraightedge, on Flickr"><img src="http://farm8.staticflickr.com/7141/6711133615_c0eb687e66.jpg" alt="The Office at The Farmhouse in Hollywood, CA"></a>

    <p>
      The living room is really more office than anything else.
      Currently, it's occupied by <a href="http://twitter.com/veganstraightedge" title="Twitter">Shane Becker</a>,
      <a href="http://twitter.com/evanphx" title="@evanphx on Twitter">Evan Phoenix</a>,
      <a href="http://twitter.com/johnbender" title="Twitter">John Bender</a> and
      <a href="http://twitter.com/hrrrthrrr" title="Twitter">Heather Peterson</a>.
      Overflow guest seating is available at the 10 person dining room table.
    </p>
  </div>

  <div class="span6">
    <h2>Co-Living</h2>
    <a href="http://www.flickr.com/photos/veganstraightedge/4251544965/" title="Civ holding down the backyard at the Farmhouse in Hollywood, CA (photo by Heather) by veganstraightedge"><img src="http://farm6.staticflickr.com/5055/5533623778_86a0e6e972.jpg" alt="Civ holding down the backyard at the Farmhouse in Hollywood, CA (photo by Heather)"></a>

    <p>
      Let's be honest. It's <a href="http://twitter.com/civthedog" title="Twitter">Civ's</a> house and yard.
      She just let's us use the place. She keeps the raccoons and possums at bay.
      She also helps with avocado cleanup duty.
      Upstairs, three people live full-time at the house.
    </p>

  </div>
</div> <!-- .row -->

<div class="row">
  <div class="span6">
    <h2>Conferences</h2>
    <a href="http://www.flickr.com/photos/veganstraightedge/5696302641/" title="IMG_2276 by veganstraightedge, on Flickr"><img src="http://farm6.staticflickr.com/5110/5696302641_d1ecc0dd58.jpg" width="500" height="333" alt="IMG_2276"></a>

    <p>
      The Farmhouse is home to <%= link_to "Farmhouse Conf", year_path("conf") %> which happens once a year in May.
      The format is simple: no projector, no slides, just incredible stories told by amazing people.
      Oh yeah, it's under a <a href="http://www.flickr.com/photos/veganstraightedge/6143359534/" title="The shed and avocado tree in the backyard at the Farmhouse in Hollywood, CA">100 year old avocado tree</a>.
    </p>
  </div>

  <div class="span6">
    <h2>Potlucks</h2>
    <a href="http://www.flickr.com/photos/veganstraightedge/5696880416/" title="IMG_2284 by veganstraightedge, on Flickr"><img src="http://farm3.staticflickr.com/2411/5696880416_081239e63e.jpg" width="500" height="333" alt="IMG_2284"></a>

    <p>
      At The Farmhouse, all food is both vegan and communal.
      If you're a Farmhouse guest or an attendee of the conference, eat whatever you want.
      From time to time we have potlucks where everyone brings something.
    </p>
  </div>
</div> <!-- .row -->

<div id="map" class="row">
  <div class="span12">
    <h2>In the heart of Hollywood, California</h2>
    <iframe width="938" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1558+Gordon+St,+Los+Angeles,+CA+90028&amp;aq=0&amp;oq=15&amp;sll=37.0625,-95.677068&amp;sspn=81.760296,100.898438&amp;ie=UTF8&amp;hq=&amp;hnear=1558+Gordon+St,+Los+Angeles,+California+90028&amp;t=m&amp;50=34.099794,-118.319321&amp;spn=0.031983,0.080595&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
  </div>
</div>
