<article>
  <div class="row">
    <div class="span6">
      <h2 id="code-of-conduct">Code of Conduct</h2>
      <%= link_to "Code of Conduct",    code_of_conduct_path %>

      <div id="contact" class="h-card vcard">
        <h2>Contact Info</h2>

        <p>
          <a href="mailto:barn@farmhouse.la" class="email u-email">barn@farmhouse.la</a><br>
          <span class="tel p-tel">(801) 898-9481</span>
        </p>

        <%= link_to "http://goo.gl/maps/tmWX", :rel => "external" do %>
          <span class="street-address p-street-address">1558 Gordon St</span><br>
          <span class="locality p-locality">LA</span>,
          <span class="region p-region">CA</span><br>
          <span class="postal-code p-postal-code">90028</span>
        <% end %>

        <h2 id="social-media">Social Media Bits</h2>

        <a href="http://twitter.com/farmhouse" class="url u-url" rel="me">@farmhouse</a><br>
        <a href="https://twitter.com/search?q=farmhouseconf5" rel="external">#FarmhouseConf5 on Twitter</a><br>
        <a href="http://web.stagram.com/tag/farmhouseconf5/" rel="external"> #FarmhouseConf5 on Intstagram</a>
      </div>
    </div>

    <div class="span6">
      <h2>Schedule</h2>

      <table id="schedule" border="0" cellspacing="5" cellpadding="5" class="table table-striped">
        <tr>
          <th>8:30 &ndash;9:30</th>
          <td>Breakfast &amp; Registration</td>
        </tr>
        <tr>
          <th>9:30 &ndash;9:45</th>
          <td>Opening Remarks</td>
        </tr>
        <tr>
          <th>9:45 &ndash;10:15</th>
          <td>TALK: Claire Evans</td>
        </tr>
        <tr>
          <th>10:15 &ndash;10:45</th>
          <td>TALK: Eleanor Saitta</td>
        </tr>
        <tr>
          <th>10:45 &ndash;11:15</th>
          <td>Break</td>
        </tr>
        <tr>
          <th>11:15 &ndash;12:00</th>
          <td>FHC1 Alumni Updates (Sean Bonner, Eli Duke, Evan Phoenix, Aaron Patterson, Tj Nelson Jr, Leah Silber, Nate Duke)</td>
        </tr>
        <tr>
          <th>12:00 &ndash;1:15</th>
          <td>LUNCH!       </td>
        </tr>
        <tr>
          <th>1:45 &ndash;2:15        </th>
          <td>TALK: Nirvan Mullick</td>
        </tr>
        <tr>
          <th>1:15 &ndash;1:45       </th>
          <td>TALK: Willo O'Brien</td>
        </tr>
        <tr>
          <th>2:15 &ndash;2:45                                                                        </th>
          <td>FHC2 Alumni (Greg Bennick, Brian, Mitch Artman, Tara Brown, Marc Horowitz, Nova Han)</td>
        </tr>
        <tr>
          <th>2:45 &ndash;3:15</th>
          <td>Break       </td>
        </tr>
        <tr>
          <th>3:15 &ndash;3:45           </th>
          <td>TALK: Julie Ann Horvath</td>
        </tr>
        <tr>
          <th>3:45 &ndash;4:15          </th>
          <td>TALK: Richard Heinberg</td>
        </tr>
        <tr>
          <th>4:30 &ndash;5:00                                           </th>
          <td>FHC3 Alumni (Megan Dean, Peter Young, Caroline Woolard)</td>
        </tr>
        <tr>
          <th>5:00 &ndash;5:30                                                       </th>
          <td>FHC4 Alumni (Ron Evans, willowbl00, Justin Ouellette, Starlee Kine)</td>
        </tr>
        <tr>
          <th>5:30 &ndash;6:45</th>
          <td>DINNER      </td>
        </tr>
        <tr>
          <th>6:45 &ndash;7:15        </th>
          <td>TALK: Jessica Hische</td>
        </tr>
        <tr>
          <th>7:15 &ndash;7:45      </th>
          <td>TALK: Barefoot Ted</td>
        </tr>
        <tr>
          <th>7:45 &ndash;8:00   </th>
          <td>Closing Remarks</td>
        </tr>
        <tr>
          <th>8:00 &ndash;8:45                </th>
          <td>MUSIC: Blue Ribbon Glee Club</td>
        </tr>
        <tr>
          <th>8:45  &ndash;9:30         </th>
          <td>MUSIC: Mates of State</td>
        </tr>
        <tr>
          <th>Midnight</th>
          <td>GO HOME!</td>
        </tr>
      </table>
    </div> <!-- .span6 -->
  </div> <!-- .row -->

  <div id="map" class="row">
    <div class="span12">
      <h2>In the heart of Hollywood, California</h2>
      <iframe width="938" height="450" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1558+Gordon+St,+Los+Angeles,+CA+90028&amp;aq=0&amp;oq=15&amp;sll=37.0625,-95.677068&amp;sspn=81.760296,100.898438&amp;ie=UTF8&amp;hq=&amp;hnear=1558+Gordon+St,+Los+Angeles,+California+90028&amp;t=m&amp;50=34.099794,-118.319321&amp;spn=0.031983,0.080595&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
  </div>
</article>
