<article>
  <h1>The Farmhouse Rules</h1>

  <div class="row">
    <dl class="rules span6">
      <dt>
        <b>1</b>
        VEGAN
      </dt>
      <dd>Only vegan food is allowed</dd>

      <dt>
        <b>2</b>
        DRUG FREE
      </dt>
      <dd>If you want to smoke, walk around the block, please</dd>

      <dt>
        <b>3</b>
        COMMUNAL FOOD
      </dt>
      <dd>Eat whatever food is around the house or in the trees</dd>

      <dt>
        <b>4</b>
        DOGS
      </dt>
      <dd>Let the dogs in and out of the backdoor only</dd>

      <dt>
        <b>5</b>
        CLEANING
      </dt>
      <dd>Clean up after yourself</dd>
    </dl>

    <dl class="rules span6">
      <dt>
        <b>6</b>
        MUSIC
      </dt>
      <dd>Share the speakers</dd>

      <dt>
        <b>7</b>
        FRIENDDA.ORG
      </dt>
      <dd>Ask before talking publicly about someone's work</dd>

      <dt>
        <b>8</b>
        LOCKS &amp; LIGHTS
      </dt>
      <dd>If you're the last one, lock up and turn off the lights</dd>

      <dt>
        <b>9</b>
        NO DRAMA
      </dt>
      <dd>Keep it positive and leave the bullshit at home</dd>

      <dt>
        <b>10</b>
        BE SUPER AWESOME
      </dt>
    </dl>
  </div>

  <div class="row">
    <div class="span12">
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/farmhouse-rules-chalkboard-wall-by-heather-peterson.jpg",
                  :alt   => "Farmhouse Rules Chalkboard Wall by Heather Peterson" %>
    </div>
  </div>
</article>
