<article id="sandwiches">
  <div class="row">
    <div class="span12">
      <h2>Sandwiches</h2>
    </div>
  </div>

  <ul class="thumbnails row">
    <li class="span3"><span class="thumbnail"><a href="http://www.flickr.com/photos/veganstraightedge/8316505931/" title="I made this sandwich for dinner."><img src="http://farm9.staticflickr.com/8503/8316505931_de59d479d6_z.jpg" alt="I made this sandwich for dinner."></a>                                </span></li>
    <li class="span3"><span class="thumbnail"><a href="http://www.flickr.com/photos/veganstraightedge/8316509105/" title="Tonight's sandwich, open face."><img src="http://farm9.staticflickr.com/8497/8316509105_7cde020f39_o.jpg" alt="Tonight's sandwich, open face."></a>                                    </span></li>
    <li class="span3"><span class="thumbnail"><a href="http://www.flickr.com/photos/veganstraightedge/8316509323/" title="Tonight's sandwich, cut in half."><img src="http://farm9.staticflickr.com/8355/8316509323_9225373e4c_o.jpg" alt="Tonight's sandwich, cut in half."></a>                                </span></li>
    <li class="span3"><span class="thumbnail"><a href="http://www.flickr.com/photos/veganstraightedge/8316515931/" title="Today's lunch sandwich."><img src="http://farm9.staticflickr.com/8501/8316515931_c0f9374597_o.jpg" alt="Today's lunch sandwich."></a>                                                  </span></li>
    <li class="span3"><span class="thumbnail"><a href="http://www.flickr.com/photos/veganstraightedge/8316528081/" title="Lunch sandwich. English muffin. Daiya cheese..."><img src="http://farm9.staticflickr.com/8496/8316528081_056630b78d_o.jpg" alt="Lunch sandwich. English muffin. Daiya cheese..."></a>  </span></li>
    <li class="span3"><span class="thumbnail"><a href="http://www.flickr.com/photos/veganstraightedge/8316582377/" title="Vegan God Damn Quesadillas (GDQs) are..."><img src="http://farm9.staticflickr.com/8491/8316582377_a9c382bdf6_o.jpg" alt="Vegan God Damn Quesadillas (GDQs) are..."></a>                </span></li>
    <li class="span3"><span class="thumbnail"><a href="http://www.flickr.com/photos/veganstraightedge/8317637400/" title="The cooked and played God Damn..."><img src="http://farm9.staticflickr.com/8354/8317637400_278da6972a_o.jpg" alt="The cooked and played God Damn..."></a>                              </span></li>
    <li class="span3"><span class="thumbnail"><a href="http://www.flickr.com/photos/veganstraightedge/8317639032/" title="Two cheese, avocado and nooch sandwich..."><img src="http://farm9.staticflickr.com/8499/8317639032_9c6b9e8df2_o.jpg" alt="Two cheese, avocado and nooch sandwich..."></a>              </span></li>
  </ul>
</article>
