#rules img,
#house img,
#home img,
#home iframe {
  width: 100%;
}

#register {
  margin: 3em 0;
  overflow: hidden;
  padding-top: 2em;
  box-shadow: 0 0 15px rgba(0, 0, 0, .4);
  background-image: url('http://farmhouse.s3.amazonaws.com/images/home/watercolor-cropped-top.png');
  background-position: center top;
  background-repeat: no-repeat;

  h1 {
    font-size: 400%;
    letter-spacing: -0.06em;
  }

  h2 b,
  h3 {
    font-weight: normal;
  }

  .btn-large {
    width: 100%;
    padding: 0;

    p {
      text-align: left;
      font-size: 150%;
      margin: 0;
      padding: .5em 1em;
    }

    span {
      display: block;
    }

    b {
      line-height: 150%;
      display: block;
      margin-top: .25em;
    }

    & + p {
      text-align: right;
      margin-right: .5em;
      margin-top:   .5em;
    }
  }
}

@media (max-width: 480px) {
  #register h1 {
    font-size: 300%;
  }

  #register .btn-large {
    width: 97%;
    margin-top: 1em;

    span,
    b {
      display: inline;
    }

    span:after {
      content: " : ";
    }

    & + p {
      margin-right: 1em;
    }
  }
}

@media (max-width: 768px) {
  #register .btn-large {
    margin-top: 1em;
  }
}

@media (max-width: 980px) {
  #register .span7 {
    width: 400px;
  }
}

.row h1,
.row h2 {
  margin-bottom: .25em;
  font-weight: normal;
}

.row {
  h2 {
    background: black;
    color: white;
    padding: .25em .5em;
    margin-top: 2em;

    a,
    a:hover,
    a:active {
      color: white;
      text-decoration: none;
    }
  }
}

#map {
  margin-bottom: 3em;
}

.photo-attribution {
  margin-top: -2em;
  padding-right: 1em;
  text-align: right;
  color: white;
  display: block;

  a,
  a:hover,
  a:active {
    color: white;
  }
}


/* rules... */
#rules article h1 {
  font-size: 500%;
  line-height: 150%;
  letter-spacing: -0.06em;
  margin: .5em 0;
}

.rules {
  dt {
    background: black;
    padding: .75em .5em;
    color: white;
    font-size: 2em;

    b {
      font-weight: normal;
    }
  }

  dd {
    font-size: 2em;
    line-height: 150%;
    margin-bottom: 1em;
  }
}

@media (max-device-width: 1024px) and (orientation:landscape) {
  #rules article {
    dl {
      margin-left: 20px;
    }
  }
}

@media (max-width: 768px) {
  #rules article {
    margin-left: 20px;

    h1 {
      margin-left: -20px;
      font-size: 350%;
    }

    dl {
      margin-left: -20px;
    }

    #chalkboard {
      margin-left: -20px;
    }
  }
}

@media (max-width: 480px) {
  #rules article h1 {
    font-size: 200%;
  }

  .rules {
    dt { font-size: 1em; }
    dd {
      font-size: 1em;
      margin-top: 1em;
    }
  }
}

@media (max-device-width: 480px) {
  #home iframe {
    height: 200px;
  }
}

@media (max-device-width: 480px) and (orientation:portrait) {
  section[role=main] article {
    margin-left: 0;
  }

  #register {
    font-size: 75%;

    h2 {
      font-size: 200%;
      letter-spacing: -0.06em;
    }

    h3 {
      font-size: 175%;
      letter-spacing: -0.06em;
    }

    .btn-large,
    .btn-large + p {
      width: 210px;
    }
  }
}

@media (max-device-width: 480px) and (orientation:landscape) {
  #register {
    font-size: 100%;

    h2 {
      font-size: 250%;
      letter-spacing: -0.06em;
    }

    h3 {
      font-size: 175%;
      letter-spacing: -0.06em;
    }

    .btn-large,
    .btn-large + p {
      width: 370px;
    }
  }
}
/* ...rules */

/* about us... */

#us #shane .photo {
  width: 50%;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    margin-bottom: -5px;
  }
}

#us .photo {
  width: 100%;
}

#civ .photo,
#friends .photo {
  width: 25%;
}

@media (max-width: 480px) {
  #civ .photo,
  #friends .photo {
    width: 50%;
  }
}

#tj,
#bookis,
#brooke,
#eli, {
  margin-bottom: 1em;
}

body .row .notes {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* ...about us */
