.row h1,
.row h2 {
  margin-bottom: .25em;
  font-weight: normal;
}

.row {
  h2 {
    background: black;
    color: white;
    padding: .25em .5em;
  }
}



#heather-peterson-attribution {
  text-align: right;
}

#big-pictures {

}

#map {
  margin-bottom: 3em;

  iframe {
    border: 1px solid #999;
  }
}
