#register-banner {
  margin: 4em 0;
  overflow: hidden;
  padding-top: 2em;
  box-shadow: 0 0 15px rgba(0, 0, 0, .4);
  background-image: url('watercolor-cropped-top.png');
  background-position: left top;


  h1 {
    font-size: 400%;
    letter-spacing: -0.06em;
  }

  h2 b,
  h3 {
    font-weight: normal;
  }

  .btn-large {
    width: 100%;
    padding: 0;

    p {
      text-align: left;
      font-size: 150%;
      margin: 0;
      padding: .5em 1em;
    }

    b {
      line-height: 150%;
      display: block;
      margin-top: .25em;
    }
  }

  .btn-large + p {
    text-align: right;
    margin-right: .5em;
    margin-top:   .5em;
  }
}

.row h1,
.row h2 {
  margin-bottom: .25em;
  font-weight: normal;
}

.row {
  h2 {
    background: black;
    color: white;
    padding: .25em .5em;
    margin-top: 2em;
  }
}



#heather-peterson-attribution {
  text-align: right;
}

#map {
  margin-bottom: 3em;

  iframe {
    border: 1px solid #999;
  }
}

h1#rules {
  font-size: 500%;
  line-height: 150%;
  letter-spacing: -0.06em;
  margin: .5em 0;
}

.rules {
  dt {
    background: black;
    padding: .75em .5em;
    color: white;
    font-size: 2em;

    b {
      font-weight: normal;
    }
  }

  dd {
    font-size: 2em;
    line-height: 150%;
    margin-bottom: 1em;
  }
}
