/*
= require_self
= require_tree .

= require twitter/bootstrap
= require twitter/bootstrap-responsive
*/

body {
  padding-top: .5em;
}

.brand a,
.brand a:hover,
.brand a:active {
  color: white;
  text-decoration: none;
}

/* admin only nav... */
#admin nav ul {
  margin: 0;
  padding: 0;
}

#admin nav li {
  display: inline;
}
/* ...admin only nav */


/* site footer... */
footer#site {
  margin-top: 3em;
  margin-bottom: 1em;
}

footer#site ul,
footer#site li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer#site li {
  display: inline;
  letter-spacing: 0.08em;
}

footer#site li:last-child {
  float: right;
}


/* ...site footer */
