/*
= require_self
= require_tree .

= require twitter/bootstrap
= require twitter/bootstrap-responsive
*/

.navbar {
  margin-top: .5em;
}

.subnav {
  width: 100%;
  height: 34px;
  background-color: #eee;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, whiteSmoke 0%, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#eee));
  background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#eee 100%);
  background-image: -ms-linear-gradient(top, whiteSmoke 0%,#eee 100%);
  background-image: -o-linear-gradient(top, whiteSmoke 0%,#eee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='whiteSmoke', endColorstr='#eee',GradientType=0 );
  background-image: linear-gradient(top, whiteSmoke 0%,#eee 100%);

  border: 1px solid #d5d5d5;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);

  margin-bottom: 2em;
}

.subnav .nav-pills > li a {
  margin-top: 2px;
}

.subnav .nav-pills > li:first-child {
  margin-left: 2px;
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover,
.subnav .nav-pills > li > a {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #E9E9E9;
  border-right-color: #DDD;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
     -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
}


@media (max-device-width: 1024px) and (orientation:portrait) {
  section[role=main] > article {
    margin-left: 20px;

    header h1,
    header h2 {
      margin-left: -20px;
    }
  }

  #rules article .row {
    margin-left: 0;
  }
}

@media (max-device-width: 480px) and (orientation:portrait) {
  section[role=main] > article {
    header h1,
    header h2 {
      margin-left: 0;
    }
  }
}

.brand a,
.brand a:hover,
.brand a:active {
  color: white;
  text-decoration: none;
}

/* admin only nav... */
#admin nav ul {
  margin: 0;
  padding: 0;
}

#admin nav li {
  display: inline;
}
/* ...admin only nav */

/* photo credits... */
.photo-attribution {
  margin-top: -2em;
  padding-right: 1em;
  text-align: right;
  color: white;
  display: block;

  a,
  a:hover,
  a:active {
    color: white;
  }
}
/* ...photo credits */



/* site footer... */
footer#site {
  margin-top: 3em;
  margin-bottom: 1em;
}

footer#site ul,
footer#site li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer#site li {
  display: inline;
  letter-spacing: 0.08em;
}

footer#site li:last-child {
  float: right;
}

@media (max-width: 480px) {
  footer#site li {
    display: block;
    float: none;
    text-align: right;
  }
}
/* ...site footer */
