#code-of-conduct,
#talk,
#conf {
  header {
    h1 {
      font-size: 500%;
      line-height: 1em;
      letter-spacing: -0.04em;
    }

    h2 {
      font-weight: normal;
      line-height: 1em;
      margin-bottom: 1em;
    }

    h3,
    h4 {
      font-weight: normal;
    }

    .twitter {
      margin-bottom: 3em;
    }
  }

  video,
  img {
    width: 100%;
    margin-bottom: 1em;
  }

  .notes {
    padding: .25em 1.5em;
    background: #eee;
    margin-bottom: 1em;
    border: 1px solid #999;
  }
}

#conf {
  .nav-pills li:nth-of-type(1) {
    font-weight: bold;
  }

  #conf-1 #sponsors,
  #conf-2 #scholarship-sponsors {
    display: none;
  }
}

#music iframe {
  margin-bottom: 25px;
  width: 100%;
  border: 0;
}

#music .photo-attribution {
  margin-bottom: 30px;
}

@media (max-device-width: 480px) and (orientation:portrait) {
  #conf header h1 {
    font-size: 400%;
  }
}

@media (max-device-width: 480px) and (orientation:landscape) {
  h1 b {
    display: block;
  }
}
