#conf {
  header {
    h1 {
      font-size: 500%;
      line-height: 1em;
      letter-spacing: -0.04em;
    }
  }

  img {
    width: 100%;
  }
}

@media (max-device-width: 480px) and (orientation:portrait) {
  #conf header h1 {
    font-size: 400%;
  }
}
