#conf header {
  margin-bottom: 3em;
}

#code-of-conduct,
#talk,
#conf {
  header {
    h1 {
      font-size: 500%;
      line-height: 1em;
      letter-spacing: -0.04em;
    }

    h2 {
      font-weight: normal;
      line-height: 1em;
      margin-bottom: 1em;
    }

    h3,
    h4 {
      font-weight: normal;
    }
  }

  video,
  img {
    width: 100%;
    margin-bottom: 1em;
  }

  .note {
    padding: .25em 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #999;
  }
}

#conf {
  .nav-pills li:nth-of-type(1) {
    font-weight: bold;
  }

  #conf-1 #sponsors,
  #conf-2 #scholarship-sponsors {
    display: none;
  }

  #alumni h1 {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: .75em;
  }
}

#music iframe {
  margin-bottom: 25px;
  width: 100%;
  border: 0;
}

#music .photo-attribution {
  margin-bottom: 30px;
}

@media (max-width: 480px) and (orientation:portrait) {
  #conf header h1 {
    font-size: 350%;
    margin-bottom: .25em;
  }

  #conf header h2 {
    font-size: 175%;
  }
}

@media (max-width: 480px) and (orientation:landscape) {
  h1 b {
    display: block;
  }
}
