#people {
  margin: 0;
  padding: 0;
}

#people > li {
  margin-bottom: 5em;
}

#people .actions {
  margin: 0;
  padding: 0;
}

#people .actions li {
  display: inline;
}

#people img {
  max-width: 100px;
}
