<h1><%= link_to "Puma, Puma, Puma... with a dash of Rubinius", podcast_path(3) %></h1>

<%= time_tag Time.parse("2012-10-25T17:57:23 -0700"), "October 25, 2012" %>

<p>
  <a href="http://iamshane.com" title="The Internet Home Site of Shane Becker">Shane Becker</a> and <a href="http://blog.fallingsnow.net" title="Evan Phoenix">Evan Phoenix</a> discuss using the <a href="http://puma.io" title="A Modern, Concurrent Web Server for Ruby - Puma">Puma web server</a> and <a href="http://rubini.us" title="Rubinius : Use Ruby&#8482;">Rubinius.</a> <b>Sponsored by: <a href="https://CodeClimate.com">Code Climate</a>.</b>
</p>

<% if show_action? %>
  <audio controls>
    <source src="http://farmhouse.s3.amazonaws.com/podcast/S01/03%20Puma,%20Puma,%20Puma...%20with%20a%20dash%20of%20Rubinius.mp3" />
  </audio>
<% else %>
  <p><%= link_to "Listen to audio", podcast_path(3) %></p>
<% end %>

<p>
  <a href="http://farmhouse.s3.amazonaws.com/podcast/S01/03%20Puma,%20Puma,%20Puma...%20with%20a%20dash%20of%20Rubinius.mp3" title="Download Episode 1 MP3">Download MP3</a>
</p>

<% if show_action? %>
  <p><b>Show Notes</b></p>

  <ul>
    <li><a href="http://puma.io" title="A Modern, Concurrent Web Server for Ruby - Puma">Puma - A Modern, Concurrent Web Server for Ruby</a> </li>
    <li><a href="http://en.wikipedia.org/wiki/Mongrel_(web_server)" title="Mongrel (web server) - Wikipedia, the free encyclopedia">Mongrel</a></li>
    <li><a href="http://unicorn.bogomips.org" title="File: README [Unicorn: Rack HTTP server for fast clients and Unix]">Unicorn</a></li>
    <li><a href="http://www.w3.org/Protocols/rfc2616/rfc2616.html" title="Hypertext Transfer Protocol -- HTTP/1.1">Hypertext Transfer Protocol -- HTTP/1.1</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Ruby_MRI" title="Ruby MRI - Wikipedia, the free encyclopedia">MRI</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Green_threads" title="Green threads - Wikipedia, the free encyclopedia">Green Threads</a></li>
    <li><a href="http://rubini.us" title="Rubinius : Use Ruby&#8482;">Rubinius</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Global_Interpreter_Lock" title="Global Interpreter Lock - Wikipedia, the free encyclopedia">GIL</a></li>
    <li><a href="http://rack.github.com" title="Rack: a Ruby Webserver Interface">Rack</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Rack_(web_server_interface)" title="Rack (web server interface) - Wikipedia, the free encyclopedia">Rack on Wikipedia</a></li>
    <li><a href="http://mongrel2.org" title="The Mongrel2 Web Server Project">Mongrel2</a></li>
    <li><a href="https://devcenter.heroku.com/articles/cedar">Heroku Cedar Stack</a></li>
    <li><a href="https://devcenter.heroku.com/articles/procfile">Procfile</a></li>
    <li><code>gem "puma", :group => "production"</code></li>
    <li><code>web: bundle exec puma -p $PORT</code></li>
    <li><b>Sponsor:</b> <a href="https://codeclimate.com">Code Climate</a></li>
    <li><a href="http://github.com/puma/puma/issues">Puma's GitHub Issues</a></li>
    <li><a href="https://twitter.com/evanphx">@evanphx</a></li>
    <li><a href="mailto:evan@phx.io">evan@phx.io</a></li>
    <li><a href="http://github.com/puma/">Puma organization</a></li>
    <li><a href="http://github.com/puma/puma">Puma on GitHub</a></li>
    <li><a href="https://github.com/puma/puma.io">Puma.io website repo</a></li>
    <li><a href="https://twitter.com/fixie">Jordan Isip (@fixie)</a></li>
    <li><a href="http://devswag.com" title="DevSwag">Dev Swag</a></li>
    <li><a href="http://devswag.com/products/puma-sticker" title="Puma Stickers (4) | DevSwag">Puma stickers on Dev Swag</a></li>
    <li><a href="https://twitter.com/wifelette">Leah Silber (@wifelette)</a></li>
    <li><a href="http://www.zenspider.com/ZSS/Products/RubyInline/" title="RubyInline |  zenspider.com by ryan davis">Ryan Davis' RubyInline</a></li>
    <li><a href="http://betterruby.wordpress.com/2008/03/18/shotgun-the-rubinius-virtual-machine/" title="Shotgun: The Rubinius Virtual Machine &laquo; Building a Better Ruby">Rubinius Shotgun</a></li>
    <li><a href="https://twitter.com/rubinius">@rubinius</a></li>
    <li><a href="http://github.com/rubinius">Rubinius on GitHub</a></li>
    <li><a href="https://twitter.com/gopumago">@gopumago on Twitter</a></li>
    <li><a href="https://twitter.com/brynary">Bryan Helmkamp (@brynary)</a></li>
  </ul>
<% end %>
