<h1><%= link_to "JSON vs HTML + Microformats", podcast_path(1) %></h1>

<%= time_tag Time.parse("2012-10-08T21:13 -0700"), "October 08, 2012" %>

<p>
  <a href="http://iamshane.com" title="The Internet Home Site of Shane Becker">Shane Becker</a> and <a href="http://SteveKlabnik.com" title="Steve Klabnik">Steve Klabnik</a> discuss using <a href="http://www.json.org" title="JSON">JSON</a> vs HTML + <a href="http://microformats.org" title="Microformats">Microformats</a> as API output.
</p>

<% if show_action? %>
  <audio controls>
    <source src="http://farmhouse.s3.amazonaws.com/podcast/S01/01%20JSON%20vs%20HTML%20%2B%20Microformats.mp3" />
  </audio>
<% else %>
  <p><%= link_to "Listen to audio", podcast_path(1) %></p>
<% end %>

<p>
  <a href="http://farmhouse.s3.amazonaws.com/podcast/S01/01%20JSON%20vs%20HTML%20%2B%20Microformats.mp3" title="Download Episode 1 MP3">Download MP3</a>
</p>

<% if show_action? %>
  <p><b>Show Notes</b></p>

  <ul>
    <li><a href="https://twitter.com/veganstraightedge/status/255149033834823680">Shane's initial question tweet</a></li>
    <li><a href="http://Microformats.org" title="Microformats">Microformats.org</a></li>
    <li><a href="http://JSON.org" title="JSON">JSON.org</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/HTML_in_XMLHttpRequest"><i>HTML in XMLHttpRequest</i> on the Mozilla Developer Network</a></li>
  </ul>
<% end %>
