<?xml version="1.0" encoding="UTF-8"?>

<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:itunesu="http://www.itunesu.com/feed" version="2.0" >
  <channel>
    <title>The Farmhouse Podcast</title>
    <link>http://farmhouse.la/podcast/feed</link>
    <language>en-us</language>
    <copyright>Creative Commons Attribution 3.0 Unported (CC BY 3.0) : http://creativecommons.org/licenses/by/3.0/</copyright>

    <itunes:subtitle>Conversations with The Farmhouse Family and Friends</itunes:subtitle>
    <itunes:author>Shane Becker</itunes:author>

    <itunes:summary>
      Friends and Family of The Farmhouse in Hollywood, California. Occasionally, we talk about things and now we're sharing those with other people.
    </itunes:summary>
    <description>
      Friends and Family of The Farmhouse in Hollywood, California. Occasionally, we talk about things and now we're sharing those with other people.
    </description>

    <itunes:owner>
      <itunes:name>
        Shane Becker
      </itunes:name>
      <itunes:email>
        veganstraightedge@gmail.com
      </itunes:email>
    </itunes:owner>

    <itunes:image href="http://farmhouse.s3.amazonaws.com/podcast/images/the-farmhouse-podcast-cover.png"/>
    <itunes:explicit>yes</itunes:explicit>

    <item>
      <title>JSON vs HTML + Microformats</title>
      <itunes:author>Shane Becker and Steve Klabnik</itunes:author>
      <itunes:subtitle>On the idea of serving HTML from your API</itunes:subtitle>

      <itunes:summary>
        Shane Becker and Steve Klabnik discuss using JSON vs HTML + Microformats as API output.
      </itunes:summary>

      <enclosure url="http://farmhouse.s3.amazonaws.com/podcast/S01/01%20JSON%20vs%20HTML%20%2B%20Microformats.mp3" length="45212172" type="audio/mpeg"/>
      <guid>http://farmhouse.s3.amazonaws.com/podcast/S01/01%20JSON%20vs%20HTML%20%2B%20Microformats.mp3</guid>
      <pubDate>Mon, 08 Oct 2012 19:15:56 -0700</pubDate>

      <itunes:duration>22:51</itunes:duration>
      <itunes:keywords>farmhouse, la, los angeles, hollywood, co-working, co-living, anarchism, anarchy, civ, html, microformats, api, hypermedia, homesteading, computer science, nerdery</itunes:keywords>
    </item>

  </channel>
</rss>
