<article>
  <div class="row">
    <header class="span12">
      <h1>The Farmhouse Podcast</h1>
    </header>

    <div class="span6">
      <p>
        Friends and Family of The Farmhouse in Hollywood, California. Occasionally, we talk about things and now we're sharing those with other people.
      </p>
      <p>
        <b>Subscribe</b> using
        <%= link_to "the RSS Feed", podcasts_feed_path %> or
        <%= link_to "in iTunes", "https://itunes.apple.com/us/podcast/the-farmhouse-podcast/id569067242" %>.
      </p>
    </div>
  </div>

  <div class="row">
    <h2 class="span12">Season 1</h2>

    <div class="span4">
      <%= image_tag "http://farmhouse.s3.amazonaws.com/podcast/images/the-farmhouse-podcast-cover.jpg", :alt => "The Farmhouse Podcast, Season 1 cover" %>
    </div>

    <div class="span8">
      <ol class="h-feed">
        <% @episodes.each do |episode| %>
        <li class="h-entry"><%= render :partial => episode %></li>
        <% end %>
      </ol>
    </div>
  </div> <!-- .row -->
</article>
