<h2>Farmhouse Project Ideas</h2>

<p>
  Want to contribute to The Farmhouse itself?
  There are projects that could be done to improve the place for all of us.
  Got something else in mind?
  Let us know.
</p>

<ul class="thumbnails">

  <li class="span3">
    <div class="thumbnail">
      <%= project_idea_image_tag "tree-fort", "100 year old avocado tree in The Farmhouse backyard" %>
      <div class="caption">
        <h5>Tree Fort</h5>
        <p>Build a clubhouse in a century old avocado tree.</p>
      </div>
    </div>
  </li>

  <li class="span3">
    <div class="thumbnail">
      <%= project_idea_image_tag "garden", "Garden box in The Farmhouse backyard" %>
      <div class="caption">
        <h5>Garden / Compost</h5>
        <p>Grow delicious food. Cultivate rich compost for next season.</p>
      </div>
    </div>
  </li>


  <li class="span3">
    <div class="thumbnail">
      <%= project_idea_image_tag "paint", "Cans of paint in The Farmhouse" %>
      <div class="caption">
        <h5>Painting</h5>
        <p>Paint The Farmhouse walls and transform the house into something new.</p>
      </div>
    </div>
  </li>

  <li class="span3">
    <div class="thumbnail">
      <%= project_idea_image_tag "construction", "Stacks of wood on in The Farmhouse backyard" %>
      <div class="caption">
        <h5>Construction</h5>
        <p>Build more garden boxes and compost bins to make room for more.</p>
      </div>
    </div>
  </li>

</ul>
