<h2>NON-Farmhouse Project Ideas</h2>

<p>
  What is that dream inside of you that you are chasing?
  It doesn&rsquo;t have to be something that directly contributes to The Farmhouse.
  We just want great people doing great things.
  Don&rsquo;t limit yourself to the ideas listed here.
</p>

<ul class="thumbnails">

  <li class="span3">
    <div class="thumbnail">
      <%= project_idea_image_tag "software", "Empty desk in The Farmhouse office" %>
      <div class="caption">
        <h5>Software</h5>
        <p>Create culture changing open source software, or The Next Big Thing&trade;.</p>
      </div>
    </div>
  </li>

  <li class="span3">
    <div class="thumbnail">
      <%= project_idea_image_tag "cookbook", "Sandwich at Flore Vegan in Silverlake, LA, CA" %>
      <div class="caption">
        <h5>Cook Book</h5>
        <p>Write the great american vegan cookbook and beta test with a house full of friends.</p>
      </div>
    </div>
  </li>

  <li class="span3">
    <div class="thumbnail">
      <%= project_idea_image_tag "art-and-photography", "Pile of Polaroid photos taken in The Farmhouse barn" %>
      <div class="caption">
        <h5>Art and Photography</h5>
        <p>Paint a self portrait. Make beautiful things. Take jaw-dropping photos.</p>
      </div>
    </div>
  </li>

  <li class="span3">
    <div class="thumbnail">
      <%= project_idea_image_tag "carpentry", "Stack of wood in The Farmhouse backyard" %>
      <div class="caption">
        <h5>Carpentry</h5>
        <p>Craft something new and amazing from blank canvas re-claimed wood.</p>
      </div>
    </div>
  </li>

</ul>
