<article id="conf" class="vevent h-event">

  <header>
    <h1 class="p-name summary">Farmhouse Labs</h1>

    <h2 class="p-description description">Learn to Code Day : <strong>1</strong></h2>

    <div class="row">
      <div class="span6">
        <h3>At <span class="p-location location">The Farmhouse</span></h3>
        <h4>
          <time class="dt-start dtstart" datetime="2013-12-14T09:00-08:00">Saturday December 14, 9am</time>
          &ndash;
          <time class="dt-end dtend"     datetime="2013-12-14T09:00-15:00">3pm</time>
        </h4>

        <p class="twitter">
          <%= link_to "@farmhouse", "https://twitter.com/farmhouse", :rel => "external me" %>
        </p>
      </div>

      <div class="span12">
        <div class="row">

          <div class="span6" id="description">
            <h3>Description</h3>
            <div class="p-description description">
              <p>
                An informal day of very intro-level learning to code.
                The day will be split into two two hour blocks with a lunch hour in the middle.
                It'll be a small group of "students", no more than 6.
                We're just trying this out as an experiment.
                <strong>Cost: FREE.</strong>
              </p>

              <p>
                A Mac laptop is required for this first session (to remove logistical variables).
                Future sessions will allow any type of laptop and will include installation help.
              </p>

              <p>
                The day will focus on <a href="https://ruby-lang.org">Ruby</a> (no <a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a> yet) using Chris Pine's book
                "<a href="http://pine.fm/LearnToProgram/" title="Learn to Program, by Chris Pine">Learn to Program</a>"
                which is <a href="http://pine.fm/LearnToProgram/" title="Learn to Program, by Chris Pine">freely available on his website</a>.
              </p>

              <p>
                Future sessions will cover HTML, CSS, JavaScript, Ruby on Rails.
              </p>

              <p>
                Email if you're interested: <strong><a href="mailto:barn@Farmhouse.LA">barn@Farmhouse.LA</a></strong>.
              </p>
            </div>
          </div>

          <div class="span6">
          </div>
        </div> <!-- .description -->

      </div> <!-- .span12 -->
    </div> <!-- .row -->
  </header>

</article>
