<div id="music" class="row">
  <div class="span12">
    <h2>Musical Guests</h2>

    <div id="mates-of-state" class="row">
      <div class="span12">
        <h1>Mates of State &amp; The Blue Ribbon Glee Club</h1>

        <p>
          <b>Mates of State:</b>
          <a href="http://twitter.com/matesofstate" title="@matesofstate on Twitter">@matesofstate</a>,
          <a href="http://matesofstate.com" title="Mates of State">Mates of State.com</a>,
          <a href="http://en.wikipedia.org/wiki/Mates_of_State" title="Mates of State - Wikipedia">Wikipedia</a>,
          <a href="http://youtube.com/matesofstate" title="Mates of State - YouTube">YouTube</a>,
          <a href="https://facebook.com/matesofstate" title="Mates of State - Facebook">Facebook</a>
        </p>

        <p>
          <b>The Blue Ribbon Glee Club:</b>
          <a href="http://blueribbongleeclub.org" title="The Blue Ribbon Glee Club: Chicago's Premier Punk Rock Choir">Blue Ribbon Glee Club.com</a>,
          <a href="http://facebook.com/blueribbongleeclub" title="The Blue Ribbon Glee Club on Facebook">Facebook</a>,
          <a href="http://myspace.com/theblueribbongleeclub" title="The Blue Ribbon Glee Club on MySpace">MySpace</a>,
          <a href="http://youtube.com/results?search_query=blue+ribbon+glee+club" title="The Blue Ribbon Glee Club on YouTube">YouTube</a>
        </p>
      </div>

      <div class="span6">
        <iframe height="315" src="http://www.youtube.com/embed/iJtZtQ7w54o"></iframe>
        <iframe height="315" src="http://www.youtube.com/embed/L3hdlvJzEQ0"></iframe>
      </div>

      <div class="span6">
        <iframe height="315" src="http://www.youtube.com/embed/CbqrO9oxc7E"></iframe>
        <iframe height="315" src="http://www.youtube.com/embed/P8DjQlNNMlw"></iframe>
      </div>

      <div class="span12">
        <iframe src="//player.vimeo.com/video/74265280?color=ffffff" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div> <!-- .row -->

  </div><!-- #music -->
</div>
