<div id="music" class="row">
  <div class="span12">
    <h2>Musical Guests</h2>

    <div id="bramble" class="row">
      <div class="span12">
        <h1>Bramble</h1>

        <p>
          <a href="http://bramblemusic.com" title="Bramble Music | Salt Lake City, UT">Bramble Music.com</a>
          <a href="http://bramblemusic.bandcamp.com" title="Bramble">Bandcamp</a>
          <a href="https://www.facebook.com/brambleband" title="Bramble's Facebook profile">Facebook</a>
          <a href="https://itunes.apple.com/us/album/h.a.g.s.-ep/id509234760">iTunes: H.A.G.S. - EP</a>
          <a href="https://itunes.apple.com/us/album/clever-raven/id509230249">iTunes: Clever Raven EP</a>
          <a href="http://youtube.com/Bramblemusic" title="Bramblemusic&#39;s channel">YouTube</a>
          <a href="http://bramblemusic.com/media/videos/" title="VIDEOS | Bramble Music">Videos</a>
          <a href="http://razzledazzle.it/1:origin-story/7:bramble" title="Razzle Dazzle  |  1: Origin Story | Introducing&hellip; Bramble">Razzle Dazzle bio</a>
        </p>
      </div>

      <div class="span6">
        <iframe src="http://player.vimeo.com/video/8941372?color=ffffff" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <iframe src="http://player.vimeo.com/video/8989419?color=ffffff" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <iframe src="http://player.vimeo.com/video/33763175?color=ffffff" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

      <div class="span6">
        <iframe src="http://player.vimeo.com/video/8989899?color=ffffff" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <iframe height="320" src="http://www.youtube.com/embed/V1JGVw9GlHM" frameborder="0" allowfullscreen></iframe>
        <iframe src="http://player.vimeo.com/video/41458155?color=ffffff" width="569" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div> <!-- .row -->

  </div><!-- #music -->
</div>
