<div id="register-banner" class="alert alert-info">
  <div class="span7">
    <h1 class=".alert-heading">REGISTER NOW</h1>
    <h2 class=".alert-heading">
      <b>for</b>
      <%= link_to "FARMHOUSE CONF 2", year_path("2012") %>
    </h2>
    <h3 class=".alert-heading">May 5, 2012 in Hollywood, CA</h3>
  </div>

  <div class="span4">
    <%= link_to register_path, :class => "btn btn-primary btn-large" do %>
      <p>
        Buy Now<br />
        <b>$100</b>
      </p>
    <% end %>

    <p><b>Only 100 tickets available</b></p>
  </div>
</div> <!-- .alert -->
