<div class="row">
  <div class="span12">

    <div id="fhc5" class="register alert alert-inverse">

      <h1 class="alert-heading span11">
        <%= link_to "REGISTER NOW for the Final Show", register_path %>
      </h1>

      <div class="span6">
        <h2 class="alert-heading">
          <b>for</b>
          <%= link_to_unless_current "FARMHOUSE CONF 5", conf_path("5") %>
        </h2>
        <h3 class="alert-heading"><b>November 2, 2013</b> in Hollywood, CA</h3>
      </div> <!-- .span6 -->


      <div class="span5">
        <%= link_to register_path, :class => "btn btn-inverse btn-large" do %>
        <p>
          Buy Now
          <b>$100</b>
        </p>
        <% end %>

        <p><b>Only <%= render "/layouts/available_tickets" %> tickets left</b></p>
      </div> <!-- .span6 -->

    </div> <!-- #fhc5 -->

  </div> <!-- .span12 -->
</div> <!-- .row -->

