<div class="row h-event vevent">
  <div class="span12">

    <div id="fhc5" class="register alert alert-inverse">

      <h1 class="alert-heading span11">
        <%= link_to "FARMHOUSE CONF 5 is SOLD OUT", conf_path(5) %>
      </h1>

      <div class="span6">
        <h3 class="alert-heading"><b><time datetime="2013-11-02" class="dt-start dtstart">November 2, 2013</time></b> in <span class="p-location location h-adr adr"><span class="p-locality locality">Hollywood</span>, <span class="p-region region" title="California">CA</span></span></h3>
      </div> <!-- .span6 -->
    </div> <!-- #fhc5 -->

  </div> <!-- .span12 -->
</div> <!-- .row -->

